td.fail {
    background-color: red;
}
td.success {
    background-color: green;
}
td.unknown {
    background-color: yellow;
}
td.building {
    background-color: pink;
}

input.num {
    width: 40px;
}

td.ellipsis {
    cursor: pointer;
    text-align: center;
}

a.buildserverlink {
    float: right;
}

a.buildserverlink img {
    height: 70%;
    width: 70%;
}